# Variables de Entorno para Docker Compose de Producción
DB_USER=taller_user
DB_PASSWORD=taller_pass
DB_DATABASE=taller_repuestos
JWT_SECRET=tu_jwt_secret_secreto_aqui
COOKIE_SECRET=tu_cookie_secret_secreto_aqui
CORS_ORIGIN=http://tallerpro.midominio.com
PORCENTAJE_IVA=15.00
